.login-form {
  transition: all 550ms ease-in-out 0s;
}

.login-form__element {
  font-size: 2em;
  padding: .25em;

  input {
    padding: 6px 12px;
    width: 100%;

    border: 1px solid $color-white;
    border-radius: 3px;

    &:focus {
      border: 1px solid $color-forestgreen;
    }
  }
}

.login-form__email {
  @extend .login-form__element;
}

.login-form__password {
  @extend .login-form__element;
}

.login-form__remember_me {
  text-align: right;
  padding: .5em;

  label {
    margin-left: .25em;
  }
}

.login-form__buttons {
  @extend .login-form__element;
}
